@use '~bootstrap/scss/bootstrap';

.is-invalid {
  border-color: #dc3545;
}

.form-container {
  position: relative;
}

.text-body {
  padding: 4rem;
  background-color: #000;
}

.mt-4 {
  padding: 4rem;
}

h1 {
  color: #fff;
}